@media screen and (max-width:1024px) {
    #top img {
      margin: auto;  
    }
    #top {
      position: sticky;
      flex-direction:column;
      top:0;
    }

   #presentation {
     flex-direction: column-reverse;

   }


    #menu {
        display:none;
    }
    #navigation label {
        display: block;
        text-align: center;

    }
    
    #humberger input {
      display: none;
    }
    #humberger i {
        font-size: 2rem;
    }
    #navigation input:checked ~ #menu {
        display: flex;
        flex-direction: column;
        width: 100vh;
        width: 100vw;
        text-align: center;
        background-color: white;
     
    }

}


@media screen and (max-width:576px) {
    body {
        font-size: large;
    }
}

@media screen and (min-width:1025px) {
    #top {
        flex-direction: row;
    }

    #navigation label {
        display: none;
    }
}

/* Reset */
body , * , ::before , ::after {
    margin: 0;
    padding: 0;
}
/* Body */
body {
    font-family: 'Roboto', sans-serif;
    color:  #003E52;

}

/* Header */
#top{
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 20px;
     background-color: white;
}

#navigation input {
    display: none;
}

nav a {
    color: #003E52;
    text-decoration: none;
}
nav a:hover {
    color: #6cadc2;
    
}

#menu a {
   margin-right: 1rem;
   margin-left: 1rem;
}

/* Main */

#presentation {
  display: flex;
  justify-content: center;
  align-items: center;

}


#texte_presentation {
    text-align:end;
    margin-top: 5vh;
}

#texte_presentation h3 {
    margin-top: 1vh;
    margin-bottom: 3vh;
}


#image_top {
   background-image: url('../images/images-slider.JPG');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 80vh;;
}
#photo_header {
   background-image: url('../images/header-image.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 80vh;
}


#signature {
    width: 50%;
    margin: auto;
}
#signature h2 {
    text-align: center;
    margin: 1vh;
}
#signature hr {
    margin-top: 1vh;
    margin-bottom: 3vh;
}
#texte_signature p {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
#texte_signature i {
    position: absolute;
    left: 15%;
    color: #003E52;
    font-size:2rem;
    opacity: 0.6;
}


#image_bas {
    
        background-image: url('../images/images-slider.JPG');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;;
    
}

#map {
    width: 100%;
    filter: grayscale(1);
}

/* footer */

footer {
    background-color:  #003e52;
    color: white;
    width: 100%;
    height: 200px;
    text-align: center;

}

#bas h4{

    padding-top: 50px;
    padding-bottom: 50px;;

}